Question_Knowledge Classifier RAG.yml
app:
  description: RAG to check
  icon: face_with_monocle
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Question/Knowledge Classifier RAG
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.5@373362a028986aae53a7baf73a7f11991ba3c22c69eaf97d6cde048cfd4a9f98
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: true
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: true
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: 1711528708197-1711528709608
      source: '1711528708197'
      sourceHandle: source
      target: '1711528709608'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1711528709608-1711528768556
      source: '1711528709608'
      sourceHandle: '1711528736036'
      target: '1711528768556'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: answer
      id: 1711528709608-1711528775142
      source: '1711528709608'
      sourceHandle: '1711528737066'
      target: '1711528775142'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528768556-1711528802931
      source: '1711528768556'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528802931-1711528833796
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables: []
      height: 97
      id: '1711528708197'
      position:
        x: 30
        y: 323.5
      positionAbsolute:
        x: 30
        y: 323.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1711528736036'
          name: Question related to Tesla Car trouble
        - id: '1711528737066'
          name: Other questions
        desc: 'Define the classification conditions of user questions, LLM can define
          how the conversation progresses based on the classification description. '
        instructions: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1711528708197'
        - sys.query
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
      height: 247
      id: '1711528709608'
      position:
        x: 334
        y: 323.5
      positionAbsolute:
        x: 334
        y: 323.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - M36uUep4hEVk67gLP6fpen/cHojZ+THpo1K5oiuMUelSR7JJehvzoNSLqlJw1lFM
        desc: 'Retrieve knowledge on after sales SOP. '
        multiple_retrieval_config:
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 'Knowledge Retrieval '
        type: knowledge-retrieval
      dragging: false
      height: 119
      id: '1711528768556'
      position:
        x: 638
        y: 323.5
      positionAbsolute:
        x: 638
        y: 323.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Sorry, I can't help you with these questions. As this is not related
          to the topic!
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 117
      id: '1711528775142'
      position:
        x: 638
        y: 482.5
      positionAbsolute:
        x: 638
        y: 482.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528768556'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 37b6b031-483c-4ab1-9bb2-215b6926f0cc
          role: system
          text: 'Use the following context as your learned knowledge, inside <context></context>
            XML tags.

            <context>

            {{#context#}}

            </context>

            When answer to user:

            - If you don''t know, just say that you don''t know.

            - If you don''t know when you are not sure, ask for clarification.

            Avoid mentioning that you obtained the information from the context.

            And answer according to the language of the user''s question.'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 89
      id: '1711528802931'
      position:
        x: 942
        y: 323.5
      positionAbsolute:
        x: 942
        y: 323.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 104
      id: '1711528833796'
      position:
        x: 1246
        y: 323.5
      positionAbsolute:
        x: 1246
        y: 323.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 32
      y: -97.99999999999994
      zoom: 0.7
